* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}

body {
  background-color:#F5F4F5;
}
/*-----------------Barra Azul-----------------*/
.Checkout {
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 10;
  background-image: url("../assets/images/imgBanner/Banner-Poke.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.top-bar {
  background-color: #29CCBA;
  color: white;
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 20px 60px;

  align-items: center;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.exit {
  height: 35px;
}

/*-----------------Estado del CheckOut-----------------*/

.linea-gris {
  position: relative;
  /* left: -1060px;
  top: 25px; */
  width: 100px;
  height: 2px;
  background-color: #ccc;
  z-index: -1;
}

.circulos {
  margin-left: 130px;
  margin-top: 5%;
  margin-bottom: 20px;
  display: flex;
  gap: 340px; /* Espacio entre los círculos */
}

.circulo {
  width: 50px;
  height: 50px;
  border: 2px solid rgba(248, 100, 108, 1);
  border-radius: 25px;
  box-sizing: border-box;
  background-color: rgba(255, 253, 253, 1);
}

.nombreEstados {
  display: flex;
  font-size: 30px;
}

.nombreEstados p {
  margin-left: 30px;
  padding: 0 4rem;
  margin-right: 40px; /* Agrega espacio entre los elementos */
  margin-bottom: 20px;
}

.estadoActual{
  margin-left: 100px;
  font-size: 40px;
  margin-bottom: 20px;
}


.nombreEstados,
.estadoActual{
  color:#15297C;
}

/*-----------------Hora de delivery-----------------*/

.confirmarCuadro2,
.confirmarCuadro1 {
  height: 200px;
  padding: 0px 0px 0px 30px;
  border: 2px solid rgba(41, 204, 186, 1);
  box-sizing: border-box;
  background-color: rgba(255, 255, 255, 1);
}

.confirmarCuadro2{
  margin-top: 2%;
  height: 100px;
}

.informacion{
  position: relative;
  top:30px;
  font-size: 25px;
}


/*-----------------Bóton de confirmar-----------------*/
.confirmar-boton {
  position: relative;
  top: 100px;
  height: 82px;
  padding: 17px 252px 25px 250px;
  border-radius: 100px;
  box-sizing: border-box;
  background-color: rgba(41, 204, 186, 1);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  transition: background-color 0.3s, transform 0.3s;
  border: #29CCBA;
  cursor: pointer;
}

.confirmar {
  display: flex;
  justify-content: center;
  align-items: center;
  color: rgba(255, 255, 255, 1);
  font-size: 40px;
  font-family: Inter, sans-serif;
  font-weight: 700;
  border: none;
  outline: none;
  background: none;
}

.confirmar-boton:hover {
  background-color: rgba(31, 184, 166, 1);
}

.confirmar-boton:active {
  transform: translateY(2px); /* Efecto de presionar el botón */
}

.set-hora {
  color: rgba(255, 255, 255, 1);
  font-size: 60px;
  line-height: 60px;
  font-family: Inter, sans-serif;
  font-weight: 400;
}

.imgDelivery {
  height: 200px;
  margin-right: 10px;
}

.confirmarCuadro2,
.confirmarCuadro1,
.confirmar-boton {
  margin-left: 100px;
  width: 800px;
}