.nav-container {
    text-align: center;
    background-color: #00d1b2;
    border-width: 3px;
    border-radius: 20px;
    border-style: solid;
    border-color: #00ac92;
    box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.2);
    
}


.h1-nav{
    display: flex;
    color: white;
    font-size: 40px;
    margin: 1rem;
    font-weight: bold;
    margin-left: 30%;
    margin-top: 20px;
    margin-bottom: 20px;
}

.navbar {
    display: flex;
    margin-left: 15%;
    margin-bottom: 20px;
}

.navbar .navOption{
    color: white;
    list-style: none;
    margin-right: 3%;
    border-style: solid;
    border-radius: 10px;
    
}

.navbar .choosen{
    color: #ff6b6b;
    background-color: #ff6b6b;
    list-style: none;
    margin-right: 3%;
    border-style: solid;
    border-radius: 10px;
    
}

.navbar .choosen a{
    display: flex;
    color: white;
    font-size: 20px;
    margin: 1rem;
    font-weight: bold;
    text-decoration: none;
    display: box;
}


.navbar .navOption a{
    display: flex;
    color: white;
    font-size: 20px;
    margin: 1rem;
    font-weight: bold;
    text-decoration: none;
    display: box;
}

.navbar .navOption a:hover{
    color: gainsboro;
}

.navbar ul{
    display: flex;
}

@media (max-width: 900px) {
    
    .navbar {
        margin-left: 8%;
    }

    .h1-nav{
        font-size: 30px;
        margin-left: 28%;
    }
    
    .navbar .choosen a{
        font-size: 18px;
        margin: 10px;
    }

    .navbar .navOption a{
        font-size: 18px;
        margin: 10px;
    }
      
}

@media (max-width: 580px) {

    
    .navbar .choosen a{
        font-size: 15px;
        margin: 10px;
    }

    .navbar .navOption a{
        font-size: 15px;
        margin: 10px;
    }
      
}