/* @import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.orderborder{
    
    border-top: 2px solid #29CCBA;
    padding: 10px 43px;
    width: 100%;

}

.orderbutton{
    background-color: #29CCBA;
    border-style: none;
    padding: 10px 40px;
    width: 100%;
    border-radius: 10px;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: 13px;
    font-weight: 520;
    text-shadow: 0 1px 2px black;
    word-spacing: 5px;
}
.orderbutton:hover{
    background-color: #0ea896;
    color: white;
    text-decoration: none;
}

@media only screen and (max-width: 1244px){
    .orderborder{
        border: none;
        
    }

} */