@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.bodyProfile_Sec {
    margin: 0;
    font-family: 'Poppins', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #EFEFEF;
    background-size: cover;
    background-position:  center;
    padding: 20px;
    padding-top: 60px; 
}

.card_box {
    width: 100%;
    margin: auto;
    position: relative;
    left: 5vh;
}

.card_box_2 {
    width: 100%;
    margin: auto;
}

.section_options {
    min-height: 100vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 5vh;
    margin-left: 20vh;
}

.titles_security {
    font-size: 2.5em;
    line-height: 60px;
    text-align: left;
    margin-bottom: 20px;
    color: #29CCBA;
    height: 80px;
    font-weight: 200;
    overflow: hidden;
}

.cards_buttons_sec{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: 100%;
}
.cards{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: 100%;
}

.card {
    max-width: calc(83.33% - 20px);
    width: 100%;
    background: #ffffff;
    border-radius: 10px;
    padding: 60px;
    margin-bottom: 30px;
    transition: .3s;
    border: 2px solid transparent;
    border-color: #29CCBA;
    text-align: center;
}

.card_preferences {
    max-width: calc(83.33% - 20px);
    width: 100%;
    background: #ffffff;
    border-radius: 10px;
    padding: 60px;
    margin-bottom: 30px;
    transition: .3s;
    border: 2px solid transparent;
    border-color: #29CCBA;
    text-align: center;
}

.card:hover{
    border-color: #F8646C;
}

.cards_button:hover{
  background-color: #F8646C;
  border: 2px solid #F8646C;
}

.cards_button {
  height: 60px;
  min-width: 100%;
  background-color: #29CCBA;
  outline: none;
  border: 2px solid #29CCBA;
  border-radius: 10px;
  font-family: "poppins", sans-serif; 
  font-size: 1.6vw;
  color:#ffffff;
  transition: .3s;
}

.display_correo {
  color:#ffffff;
  background-color: #29CCBA;
  border: 2px solid #29CCBA;
  border-radius: 10px;
  font-family: "poppins", sans-serif; 
  font-size: 1.6vw;
  padding: 10px 20px 10px 10px;
  overflow: hidden;
  text-overflow: ellipsis;
  transition: .3s;
}

.display_correo:hover{
  background-color: #F8646C;
  border: 2px solid #F8646C;
}

.preference_text {
    text-align: left;
    font-size: 1.2em;
    color: #29CCBA;
}

.preference_text_2 {
    text-align: left;
    padding-top: 20px;
    font-size: 1.2em;
    color: #29CCBA;
}

.fa-ul{
    position: relative;
    right: 5vh;
    top: 1%;
    font-size: 1.3em;
}

.fa-li{
    color: #29CCBA;
}

.second-check {
    font-size: 1em;
    margin-top: 2vh;
}

.password_change_button {  
  color:#ffffff;
  background-color: #29CCBA;
  border: 2px solid #29CCBA;
  border-radius: 10px;
  font-family: "poppins", sans-serif; 
  font-size: 1.2vw;
  padding: 10px 20px 10px 10px;
  overflow: hidden;
  text-overflow: ellipsis;
  transition: .3s;
}

@media only screen and (max-width: 1024px) {
  .section_options {
    flex-direction: column;
    margin-top: 20vh;
    margin-left: 0;
  }
  
  .card_box, .card_box_2 {
    width: 100%;
    margin-left: 0;
    left: 0;
  }

  .cards {
    flex-direction: column;
    align-items: center;
  }

  .cards_buttons_sec {
    width: 200%;
    flex-direction: column;
    align-items: center;
  }

  .card, .card_preferences {
    max-width: 100%;
    width: auto;
    padding: 30px;
  }

  .titles_security {
    text-align: center;
    font-size: 1.5em;
  }

  .cards_button, .display_correo {
    font-size: 1em;
  }
}
