.headerc {
    position: fixed;
    left: 0;
}

.nav-menu{
    margin-top:200px;
}

.main-box{
    max-width: 1000px;
    margin: auto;
}

.products {
    width: 100%;
    height: auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    place-items: center;
}
  
.product {
    border-radius: 25px;
    width: 250px;
    height: 390px;
    margin: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #eeeeee;
    border-color: #00ac92;
    border-style: solid;
    border-width: 4px;
    box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.2);
}

.product .img-container {
    position: absolute;
    margin-top: -180px;
}


.horizontal-line{
    width: 230px;
    border-bottom: 1px solid #00ac92;
    margin-left: 20px;
}

.product img {
    height: 150px;

} 

.product .description .prodDesc{
    text-align: left;
    margin-left: 20px;
    margin-top: 15px;
    color: #797979;
}

.product .description .name-container{
    display: flex;
    margin-left: 20px;
    width: 250px;
    word-wrap: break-word;
}

.product .description .price-container{
    margin-right: 170px;
    margin-top: 20px;
}

.product .description .price-container .price{
    color: white;
    background-color: #ff6b6b;
    text-align: center;
    font-size: 20px;
    border-radius: 0px;
    padding-top: 3px;
    padding-bottom: 3px;
    padding-left: 6px;
    padding-right: 6px;
}

.product .description .price-container .amount{
    position: absolute;
    color: #ff6b6b;
    font-size: 20px;
    margin-top: 10px;
    margin-left: 110px;
}

.product .description .price-container .addimg{
    width: 35px;
    height: 35px;
}

.product .description .price-container button{
    background: none;
    border: none;
    display: flex;
    position: absolute;
    margin-left: 215px;
    margin-top: -35px;
    
}

.product .description .price-container button:hover {
    transition: 0.3s ease-in;
    cursor: pointer;
} 

.product .description .name-container .name{
    color: #ff6b6b;
    text-transform: uppercase;
    font-size: 20px;
}
  
.product .description {
    text-align: center;
    margin-top: 170px;
}


  


@media (max-width: 900px) {
    
.nav-menu{
    margin-top: 35%;
}
    
.products {
    grid-template-columns: 1fr 1fr;
}
  
}

